@import "./base/reset" ul;
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/static/Nunito-Regular.ttf); }


.color {
  color: aliceblue; }

header div {
  position: fixed;
  top: 0; }

header nav {
  background-color: rgba(177, 183, 183, 0.249);
  width: 100%;
  height: 100px;
  position: sticky;
  margin-top: -30px; }

header a {
  text-decoration: none; }

header li {
  list-style-type: none;
  display: inline;
  margin: 80px;
  position: relative;
  bottom: 100px; 
  }
  
header ul {
  padding: 10px;
  font-family: "Nunito";
  color: aliceblue;
  }

    .parallas, .main, .texto{margin:0 auto}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.texto-interior{
	color:#fff;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}
	
.img-uno{background-image:url(../assents/img/living-room-interior-with-armchair-on-empty-dark-blue-wall-background-3d-rendering.jpg)}

.img-dos{background-image:url(../assents/img/imagen1.jpg)}

.img-tres{background-image:url(../assents/img/portada-Mar-del-Plata-la-hisotria-de-la-feliz-scaled.jpg)}


.texto{
  font-size: 22px;
  text-align: justify;
	padding:5%;
	width: 90%;
  font-family: "Nunito"
} 

.logo {
  color: azure;
  position: relative;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  width: 45px;
  bottom: 73px; }

h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.728);
  font-size: 2em;
  text-align: left;
  font-family: "Nunito";
  padding: 10px 10px 0px 10px;
  position: relative;
  left: 5%; }

.texto2 {
  display: inline;
  margin: auto;
  padding: 20px;
  font-family: "Nunito";
  align-items: center;
  text-align: justify;
  font-size: 1.4em; }

.texto3 {
  font-family: "Nunito";
  font-size: 16px; }

p {
  font-family: "Nunito";
  display: inline; }

.contImg Img {
  width: 20%;
  height: 250px;
  border-radius: 5%;
  margin: 2.3%;
  box-shadow: 5px 5px 15px; }

.contImg Img:hover {
  transform: scale(1.02, 1.02); }

h2 {

  font-family: "Nunito"; }

h3 {
  font-family: "Nunito";
  color: aliceblue;
  font-size: 40px;
  grid-column: 5 / 7;
  grid-row: 7 / 7; }

.separacion {
  padding: 20px; }

.imgNosotros {
  width: 30%;
  height: 20%;
  border-radius: 5%;
  margin: 2.3%; }

.nosotros {
  display: flex; }

.iconos {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: fixed;
  top: 1%;
  left: 95%; }

.position {
  position: fixed; }

.flexConteiner {
  display: flex;
  flex-direction: column; }

.flexItem {
  background-color: rgba(84, 122, 122, 0.313);
  margin: 10px;
  border-radius: 40px;
  padding: 20px; 
  box-shadow:1px 1px 10px ;}

.flexContenedor {
  display: flex;
  justify-content: left;
  background-image: url(../assents/img/creative-flat-lay-photo-of-workspace-desk.jpg);
  background-size: 60%;
  background-size: cover;
  background-repeat: no-repeat; }

form {
  min-width: 400px;
  text-align: center;
  padding: 30px;
  margin: 20px; }
  form input {
    width: 100%;
    padding: 10px;
    margin: 7px; }

.navResponsive {
  display: none; }

.menuHamburguesa {
  left: 470px;
  font-size: 25px;
  padding: px; }

  .flexConteinerFoot{
    display: flex;
    background-color: rgba(0, 0, 0, 0.728);
    color: white;
    justify-content:space-between;
    align-items: center;
  }

  .flexItemFoot{
margin-left: 15px;
margin-right: 15px;
  }

@media screen and (max-width: 576px) {
  .navResponsive {
    display: block;
    position: absolute; } 
  
    .logo {
      position: relative;
      right: 15px;
      padding: 5px 5px 5px 15px;
      border-radius: 5px;
      width: 35px;
      bottom: 73px; }
    
    h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.728);
  font-size: 2em;
  text-align: left;
  font-family: "Nunito";
  padding: 10px 10px 0px 10px;
  position: relative;
  left: 10%; }

  .banner {
    background-image: url(/assents/img/living-room-interior-with-armchair-on-empty-dark-blue-wall-background-3d-rendering.jpg);
    height: 50vh;
    width: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: black 7px;
    box-shadow: 5px 10px 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr); }
  
    h3 {
      display: none;}

      .texto {
        background-color: rgba(0, 0, 0, 0.422);
        font-family: "Nunito";
        padding: 30px;
        text-align:center;
        font-size: 1.3em;
        background-size: cover }

        .texto2 {
          display: block;
          margin: auto;
          padding: 20px;
          font-family: "Nunito";
          align-items: center;
          text-align: justify;
          font-size: 1.1em; }
          
          .imgNosotros {
            padding: 35px;
            width: 70%;
            border-radius: 20%;
            margin: 3%; }

            .contImg Img {
              width: 95%;
              height: 200px;
              border-radius: 5%;
              margin: 2.3%;
              box-shadow: 5px 5px 15px; }

              header ul {
                display:flex;
                justify-content:space-evenly;
                margin-top: -50px;
                margin:;
                
                font-family: "Nunito"; } 
              }